<h2>Add New Celebrity</h2>

<form action="/create-the-celebrity" method="POST">


<p>Name</p>
<input type="text" name="theNewCelebName">

<p>Occupation</p>
<input type="text" name="theNewCelebOccupation">


<p>Catch Phrase</p>
<input type="text" name="theNewCelebCatchPhrase">

    <button>Save!</button>
</form>