<h2>Add New Movie</h2>

<form action="/create-the-movie" method="POST">


<p>Title</p>
<input type="text" name="theNewMovieTitle">

<p>Genre</p>
<input type="text" name="theNewMovieGenre">


<p>Plot</p>
<input type="text" name="theNewMoviePlot">

    <button>Save!</button>
</form>