<h3>Home Page</h3>
<a href="/create-celeb"><button >Create a Celeb</button></a>
</br>
</br>
<a href="/celebrities">View Celebs</a>

</br>
</br>
<a href="/create-movie"><button >Create a Movie</button></a>
</br>
</br>
<a href="/movies">View Movies</a>